* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #061de3, #e306ca);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 350px;
  width: 500px;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


.wrapper .our_team .team_member .member_img {
  background: #e9e5fa;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
.wrapper .our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wrapper .our_team .team_member h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0;
}

.wrapper .our_team .team_member span {
  font-size: 12px;
} 

.wrapper .our_team .team_member p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}