*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:#FFEEDF;

}


button {
    background-color: #1C5A4E;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    color: #FFEEDF;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}